/* =====ШРИФТЫ===== */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/*=======СТИЛИ======*/
.wrapper {
   max-width: 810px;
   height: 1594px;
   margin: 0 auto;
}
header {
   margin-bottom: 60px;
}
h1 {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1e212c;
   margin-bottom: 92px;
}
img {
   width: 100%;
}
h2 {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 150%;
   color: #1e212c;
   margin-bottom: 24px;
}
.block1 p {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   padding-bottom: 25px;
}
h3 {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 150%;
   color: #1e212c;
   margin-bottom: 50px;
   margin-left: 60px;
}
.block2 p {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}
.block2 li {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   margin-left: 32px;
}
.block2 {
   margin-bottom: 24px;
}
footer p {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}
